@font-face {
  font-family: "Minecraft-Regular";
  src: url("./fonts/Minecraft-Regular.ttf.woff") format("woff"),
    url("./fonts/Minecraft-Regular.ttf.svg#Minecraft-Regular") format("svg"),
    url("./fonts/Minecraft-Regular.ttf.eot"),
    url("./fonts/Minecraft-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Minecraft-Regular", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background-color: #242424de;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.top-bar {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #242424;
  color: #ffad32fc;
  padding: 10px;
}

.top-bar .logo {
  font-size: 4vw;
}

.game {
  display: flex;
  color: #fff;
  justify-content: space-around;
  padding-top: 20px;
}

.game > * {
  flex-basis: 100%;
}

.game .player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game .name,
.game .score {
  font-size: 5vw;
  color: #dbdbdb;
}

.game .game-controls {
  display: flex;
  gap: 20px;
  padding: 50px 20px;
}

.game .play-card {
  border-radius: 5px;
  font-size: 10vw;
  background-color: #857e7e44;
  padding: 10px;
}

.game .human .play-card.choice {
  background-color: #857e7ea7;
}

.game .human .play-card:hover {
  cursor: pointer;
  background-color: #857e7ea7;
}

.results {
  display: flex;
  justify-content: space-around;
  font-family: "Minecraft-Regular";
  background-color: #6f6f6fde;
  color: #ff5e32fc;
  font-size: 6vw;
  text-transform: uppercase;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.round-options-modal {
  border: 1px solid white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  padding: 4vw 5vw;
  display: flex;
  gap: 3vw;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: #9e9e9e;
  z-index: 10;
}

.button {
  background-color: #fff;
  font-size: 3vw;
  border: 0;
  border-radius: 10px;
  padding: 1vw 3vw;
  white-space: nowrap;
}

.button.primary {
  background-color: #fcaa31;
}

.button:hover {
  cursor: pointer;
}

.page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
